[Desktop Entry]
Version=1.0
Name=Firefox
GenericName=Web Browser
Exec=/home/mustardamus/Apps/firefox/firefox %U
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/home/mustardamus/Apps/firefox/browser/chrome/icons/default/default128.png
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml_xml;application/x-mimearchive;x-scheme-handler/http;x-scheme-handler/https;
