[Desktop Entry]
Version=1.0
Name=TOR
GenericName=Web Browser
Exec=/home/mustardamus/Apps/tor-browser_en-US/Browser/start-tor-browser
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/home/mustardamus/Apps/tor-browser_en-US/Browser/browser/chrome/icons/default/default128.png
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml_xml;application/x-mimearchive;x-scheme-handler/http;x-scheme-handler/https;
